@media only screen and (max-width: 480px) {
    .flex-container {
        width: 100%;
    }
    h1 {
        font-size: 25vw;
    }
    h3 {
        font-size: 7vw;
    }
    p {
        font-size: 12px;
    }
    .bigbox {
        width: 90vw;
        height: 90vw;
    }
    .basic-box {
        width: 45vw;
        height: 45vw;
    }
    .smallbox {
        width: 22.5vw;
        height: 22.5vw;
    }
    .bigicon {
        font-size: 20vw;
    }
    .mainbutton {
        font-size: 7vw;
    }
    .section-header h2 {
        font-size: 9vw;
    }
    .section-intro {
        width: 90%;
    }



//navigation
    nav {
        background-color: #1C1B20;

        .flex-container {

           .menu, .logo {
              margin: 4%;
          }

        }
        .main-nav-container {

           .main-nav {

             li {
                &:hover {height: 28%; width: 100%;}
                &:hover a {font-size: 12vw;}
                &:hover a i {font-size: 22vw;}

                a {
                    font-size: 7vw;
                }

             }
          }
        }
    }

//intro
   .intro-container {
      .intro {
         .hellobox {
             height: 30vw;
         }

         h2 {
            font-size: 9.5vw;
         }

         .rightside {
             width: 100%;
         }
      }
   }

//about section

   .about-details {
      .about-details-wrapper {
         .about-details-box {
             width: 90vw;
             height: 100vw;

             p {
                 font-size: 3.3vw;
             }
             h3 {
                 font-size: 5vw;
             }
             img {
                 height: 8vw;
             }

         }
      }
   }


//skills section

   .skills .flex-container {
      margin-left:$boxsize/4;
   }
    svg .skill-header {
        font-size: 16vw;
    }
    .skill-details .skill-list ul {
        font-size: 3.5vw;
    }


//contact section

   .contact-details {
      p {
          font-size: 3.8vw;
      }

      .boxphone {
          width: 22.5vw;
          height: 22.5vw;
          top: 37.5%;
          left: 37.5%;
      }
   }

//cookie banner

.cookie-banner {
   .cookie-banner-inner {
      flex-direction: column;

      i {
          order: 1;
          font-size: 10vw;
      }
      p {
          order: 2;
          margin-top: 0;
      }
   }

}



}
