body {
   background: #ffffff;
   background-image: radial-gradient(#e6e6e6 20%, transparent 0), radial-gradient(#e6e6e6 20%, transparent 0);
   background-size: 150px 150px;
   background-position: 0 0, 75px 75px;
   background-attachment: fixed;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
   margin: 0;
   overflow-x: hidden;
}

ol,
p,
ul {
   font-family: 'Source Code Pro', monospace;
   color: #000000;
   line-height: 1.3em;
   margin-top: 1em;
   margin-bottom: 1em;
}

p {
   font-size: 14px;
   line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
   margin: 0;
   color: $dgrey;
   line-height: 1.4em;
   @extend %elements-font;
}

h1 {
   font-size: 9vw;
}

h2 {
   font-size: 8vw;
}

h3 {
   font-size: 2vw;
}

h5 {
   font-size: 2vw;
}

a {
   color: $dgrey;
   text-decoration: none;
   @extend %elements-font; //font-weight?
}

a:link,
a:visited,
a:hover,
a:active {
   color: $dgrey;
}

a img {
   border: none;
}

header, section {
   min-height: 100vh;
}

section {
   min-height: 100vh;
   padding-top: 5vw;
   margin-top: 10%;
   margin-bottom: 10%;
}

.flex-container {
   width: 80%;
   margin: 0 auto;
   @extend %flex-center;

}

section .container {
   width: 100%;
   background-color: #ffffff;
   padding-bottom: 10%;
}

section .flex-container {
   padding-top: 7%;
}


.section-header {
   width: 80%;
   margin: 0 auto;
}

.section-header h2 {
   text-align: center;
   margin-bottom: -2.5vw;
   line-height: 1.3em;
}

.section-intro {
   width: 80%;
   margin: 0 auto;
   text-align: justify;
   padding-top: 5%;
}
