

/*#####BOXES#####*/
.basic-box {
   width: $boxsize;
   height: $boxsize;
   position: relative;
}

.box {
   @extend .basic-box;
   @extend %content-centered;
}

.smallbox {
   width: $boxsize/2;
   height: $boxsize/2;
   position: relative;
}

.bigbox {
   width: $boxsize*2;
   height: $boxsize*2;
   position: relative;
}

.back-box {
   @extend .box;
   @extend %striped;
}

.lower {
   margin-top: $boxsize/2;
}

/*####ELEMENTS####*/

.bigicon {
   font-size: 6vw;
}

.mainbutton {
   background-color: $dgrey;
   border-radius: 5px;
   padding: 0.5em 0.5em;
   text-decoration: none;
   font-size: 2vw;
   @extend %elements-font;

   &:hover {
      background-color: $grey;
      box-shadow: none;
   }
}
