/*---keyframes---*/



@keyframes downer {
    from {
        transform: translate3d(0, -50%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}


@keyframes liftmeup {
    from {
        transform: translate3d(0, 50%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}


@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}



@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}



@keyframes code {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}



@keyframes elevator {
    from {
        top: 0;
    }
    to {
        top: 50%;
    }
}



@keyframes phonedial {
    from {
        transform: rotate(0deg)
    }
    20% {
        transform: rotate(30deg)
    }
    to {
        transform: rotate(0deg)
    }
}
