/*#####ABOUT SECTION#####*/

.about {

   h3 {
      text-align: center;
   }

   .bigbox {
      display: flex;
      flex-wrap: wrap;
   }

   .boxabout {
      z-index: 2;
      transition: box-shadow 0.3s;
      @extend %shadow;
   }

   .upper {
      .myphoto {
         background-image: url("../img/marl300.jpg");
         background-size: 100% 100%;
      }

      #experience .boxabout {
         background-color: $red;
      }

      #education .boxabout {
         background-color: $blue;
      }
   }

   .lower {
      #after-hours .boxabout {
         background-color: $grey;
      }

      #looking-for .boxabout {
         background-color: $mustard;
      }
   }

}


.about-details {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 1000;

   .about-details-wrapper{
      @extend %content-centered;

      .about-details-box {
         width: 40vw;
         height: 40vw;
         box-sizing: border-box;
         animation-name: downer;
         animation-duration: 0.7s;
         @extend %shadow;
         z-index: 500;

         i {
            text-align: right;
            display: block;
            color: #717171;
         }

         img {
            display: block;
            margin: 0 auto;
            height: 4vw;
            margin-top: 5%;
         }


         p {
            font-size: 1.35vw;
            margin: 5%;
            margin-right: 5%;
            text-align: center;
         }
      }
   }
}

#experience-details .about-details-box{
   background-color: $red;
}

#education-details .about-details-box{
   background-color: $blue;
}

#after-hours-details{
   i {
      color: #ffc857;
   }

   .about-details-box{
      background-color: $grey;
   }

}
#looking-for-details .about-details-box{
   background-color: $mustard;
}


//CSS BIKE

.bikebox {
   @extend %striped-cover;
   box-shadow: $shadow;
   position: absolute;
   top: 37.5%;
   left: 75%;
   z-index: 1;
}

.bike {
   @extend .bikebox;
   box-shadow: none;
   background-image: url("../img/bicycle.png");
   background-size: 95% 95%;
   background-repeat: no-repeat;
   z-index: 100;
   pointer-events: none;

   .bikepart {
      position: absolute;
      top: 46%;
      width: 34%;
      height: 34%;
      background-image: url("../img/wheel.png");
      background-size: 100% 100%;
      animation-name: rotate;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
   }

   .pedal {
      left: 33%;
      background-image: url("../img/pedal.png");
   }

   .wheel1 {
      left: 1.5%;
   }

   .wheel2 {
      top: 46.5%;
      right: 1.5%;
   }
}
