/*#####SKILLS SECTION#####*/

.skill-bg {
    position: absolute;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border: 4px solid #ffffff;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat-y;
    animation-name: code;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/*---separate skills---*/

.skills {
   .container {
      padding-bottom: 0;
   }

   .flex-container {
      justify-content: space-around;
   }
   .skill-click-area {
       position: absolute;
       width: 100%;
       height: 75%;
       background: none;
       z-index: 999;

       &:hover ~.skill-click-box {
           @extend %striped-hover;
       }
      ////hm?
       &:hover ~.skill-close-box i {
           color: $dgrey;
       }

   }

   .skill-click-box {
       position: absolute;
       left: 25%;
       top: 25%;
       z-index: 2;
       transition: box-shadow 0.3s;
       @extend %striped;
       @extend %shadow;

       i {
          color: $grey;
       }

       &:hover {
          @extend %striped-hover;

       }
       &:hover i {
           color: $dgrey;
       }

   }
}

#skill1 .skill-bg {
    background-image: url("../img/coding.png");
}

#skill2 .skill-bg {
    background-image: url("../img/design.png");
}

#skill3 .skill-bg {
    background-image: url("../img/digital.png");
}

#skill4 .skill-bg {
    background-image: url("../img/text.png");
}


svg {
    width: 200%;
    height: inherit;
}

svg text {
    text-anchor: middle;
}

svg .alpha {
    fill: #ffffff;
}

svg .skill-header {
    font-size: 5vw;
    @extend %elements-font;
    font-weight: 800
}

#skill1 svg .color-rect {
    fill: $mustard;
    mask: url(#mask1);
}

#skill1 svg .white-rect {
    fill: #ffffff;
    mask: url(#mask1);
}

#skill2 svg .color-rect {
    fill: $red;
    mask: url(#mask2);
}

#skill2 svg .white-rect {
    fill: #ffffff;
    mask: url(#mask2);
}

#skill3 svg .color-rect {
    fill: $violet;
    mask: url(#mask3);
}

#skill3 svg .white-rect {
    fill: #ffffff;
    mask: url(#mask3);
}

#skill4 svg .color-rect {
    fill: $blue;
    mask: url(#mask4);
}

#skill4 svg .white-rect {
    fill: #ffffff;
    mask: url(#mask4);
}


/*#####skill details#####*/

.skill-details {
    display: none;

    .skill-list {
        z-index: 50;
        align-items: flex-start;
       box-shadow: $shadow;

        ul {
            font-family: 'Source Code Pro', monospace;
            font-size: 1.2vw;
            margin-right: 5%;
            margin-left: 5%;
            color: #000000;
            list-style-type: none;
            padding: 0;
        }
    }

    .smallbox {
        position: absolute;
        left: 50%;
        top: 50%;
        animation-name: elevator;
        animation-duration: 0.6s;
        animation-timing-function: linear;
    }


    .back-box {
      position: absolute;
      left: 25%;
      top: 25%;
   }

   .skill-close-box {
       @extend .back-box;
       background: transparent;
       z-index: 100;

       i {
           color: $grey;
       }

       &:hover i {
           color: #1C1B20;
       }
   }
}


#skill1-details {
   .skill-list {
      background-color: $mustard;
   }
   .smallbox {
      background-color: $blue;
   }
}

#skill2-details {
   .skill-list {
      background-color: $red;
   }
   .smallbox {
      background-color: $violet;
   }
}


#skill3-details {
   .skill-list {
      background-color: $violet;
   }
   .smallbox {
      background-color: $red;
   }
}


#skill4-details {
   .skill-list {
      background-color: $blue;
   }
   .smallbox {
      background-color: $mustard;
   }
}
