%downer2 {
   animation-name: downer;
   animation-duration: 2s;
}

%liftmeup2 {
   animation-name: liftmeup;
   animation-duration: 2s;
}

//not used
%pulse {
   animation-name: pulse;
   animation-duration: 1.5s;
}


/*ANIMATION CLASSES*/
//not used annymore
.liftmeup {
   animation-name: liftmeup;
   animation-duration: 0.7s
}
