
%elements-font {
   font-family: 'Montserrat', sans-serif;
   font-weight: 800;
}

%flex-center {
   position:relative;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

%shadow {
   box-shadow: $shadow;
   &:hover {
      box-shadow:none;
   }
}

%striped {
   background-color: #f8f8f8;
   background: -webkit-repeating-linear-gradient( 315deg, $grey, $grey 2px, transparent 2px, transparent 6px);
   background: repeating-linear-gradient( 135deg, $grey, $grey 2px, transparent 2px, transparent 6px);
}

%striped-hover {
   background: -webkit-repeating-linear-gradient( 315deg, $dgrey, $dgrey 2px, transparent 2px, transparent 6px);
   background: repeating-linear-gradient( 135deg, $dgrey, $grey 2px, transparent 2px, transparent 6px);
}

%striped-cover {
   background: -webkit-repeating-linear-gradient( 315deg, #717171, #717171 2px, #ffffff 2px, #ffffff 6px);
   background: repeating-linear-gradient( 135deg, #717171, #717171 2px, #ffffff 2px, #ffffff 6px);
}

%content-centered {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
