//colors
$red: #ff5851;
$mustard: #ffc857;
$blue: #00cecb;
$violet: #b453b3;
$lgrey: #f8f8f8;
$grey: #717171;
$dgrey: #1C1B20;

//box
$boxsize: 15vw;

//shadow
$shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
